1. What percentage of all licensed sets ever released were Star Wars themed? Save your answer as a variable the_force in the form of an integer (e.g. 25).

2. In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)? Save your answer as a variable new_era in the form of an integer (e.g. 2012).

In [304]:
import pandas as pd

In [305]:
df1 = pd.read_csv('lego_sets.csv')
df2 = pd.read_csv('parent_themes.csv')
df3 = pd.read_csv('sets.csv')
df4 = pd.read_csv('themes.csv')
df1

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft
11982,NaN,NaN,2006,NaN,NaN,Super Heroes
11983,NaN,NaN,2017,NaN,NaN,Minecraft
11984,NaN,NaN,2017,8.0,NaN,Super Heroes
11985,NaN,NaN,2003,NaN,NaN,Harry Potter

DATA CLEANING

In [306]:
df1.dropna(subset=['set_num'],inplace=True)
df1.drop_duplicates(subset=['set_num'], keep = 'first')
df2.dropna(subset=['name'], inplace=True)

MERGING DF1 AND DF2 BASED ON THE TWO COMMON COLUMNS 'parent_theme' AND 'name'

In [307]:
merged = pd.merge(df1,df2,left_on='parent_theme', right_on='name')

#extracting the necessary columns
use_this = merged.loc[:,['year','set_num','name_x','parent_theme','is_licensed']]
use_this

,year,set_num,name_x,parent_theme,is_licensed
0,1970,00-1,Weetabix Castle,Legoland,False
1,1976,00-2,Weetabix Promotional House 1,Legoland,False
2,1976,00-3,Weetabix Promotional House 2,Legoland,False
3,1976,00-4,Weetabix Promotional Windmill,Legoland,False
4,1976,00-7,Weetabix Promotional Lego Village,Legoland,False
...,...,...,...,...,...
11828,2010,8410-1,Swampfire,Ben 10,True
11829,2010,8411-1,ChromaStone,Ben 10,True
11830,2010,8517-1,Humungousaur,Ben 10,True
11831,2010,8518-1,Jet Ray,Ben 10,True
11832,2010,8519-1,Big Chill,Ben 10,True

In [308]:
number_of_licensed = use_this.groupby('is_licensed').count().iloc[1,1]

StarWar = use_this[use_this['parent_theme'].str.contains('Star')]
number_of_StarWar = StarWar['parent_theme'].count()

the_force = (number_of_StarWar/number_of_licensed) * 100
round(the_force,0)

52.0

In [324]:
licensed_sets = use_this[use_this['is_licensed']]
pivot_table = licensed_sets.pivot_table(columns='parent_theme',index='year', values='set_num',aggfunc='count')

yearly_max = pivot_table.max(axis='columns')

new_era = int(pivot_table[pivot_table['Star Wars'] < yearly_max].index[0])
new_era

2017

In [343]:
most_frequent = licensed_sets.groupby(['year'])['parent_theme'].agg(pd.Series.mode)
most_frequent[most_frequent != 'Star Wars'].index[0]

2017